* {
    padding: 0;
    margin: 0;
}

section {
    background-color: lightblue;
    width: 80%;
    /* height: 700px; */
    margin: 50px auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
}

div {
    background-color: aquamarine;
    width: 200px;
    height: 100px;
    border: 3px solid black;
}

@media screen and (max-width: 1300px ) {
    section {
        flex-direction: column;
        padding: 20 px;
        height: 100%;
        justify-content: space-around;
    }

    div {
        background-color: greenyellow;
    }
}